* {
    font-family: "Optima" !important;
}

.rock {
    color: transparent;
    background: url(./images/rock-emoji.png);
    background-position: center;
    width: 250px;
    height: 250px;
    background-size: 250px;
}

.paper {
    color: transparent;
    background: url(./images/paper-emoji.png);
    background-position: center;
    width: 250px;
    height: 250px;
    background-size: 250px;
}

.scissor {
    color: transparent;
    background: url(./images/scissors-emoji.png);
    background-position: center;
    width: 250px;
    height: 250px;
    background-size: 250px;
}

.title {
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
}